<% content_for(:page_title) do %><%= albums_title %><% end -%>

<% if @months.empty? -%>
	<p>Once albums are added they will start to appear on this page.</p>
<% else -%>

	<% @months.each do |month| -%>
	<div class='archive-month'>
		<h2><%= format_month(month.date) %></h2>
	<ul >
	  <% month.pages.each do |page| -%>
	  <table>
	   <tr><td style="width: 20px;"> <li><%= format_page_day(page.published_at) %></td><td><%= link_to(page.title, page_path(page.slug)) %></td></li>
	   </tr></table>
	  <% end -%>
	</ul>
	<% end -%>
	</div>
<% end -%>
